.fejlec{
    height:200px;
    width:100%;
    margin:auto;
    padding:auto;
    border:1px;
    border-style:dotted;
}
#iit{
    text-align:center;
    margin:auto;
    display:block;
}
body{
    background-image:url("../kepek/background.jpg");
    background-repeat: no-repeat;
    background-size:110%;
}
.menu{
    padding:10px;
    margin:10px;
    height:50px;
    border:1px;
    border-style:dashed;
    text-align:center;
}
.menu a{
    margin:150px;
    padding:10px;
}
.main{
height:80%;
}
.lablec{
height:10%;
text-align:center
}
#kep{
	width:400px;
	height:400px;
}
.kepdoboz{
	display:block;
	position:absolute;
	right:0;
	top:50%;
}